<tag id="modifiedDate" style="font-size: 0.7em;">last update on {{ site.time | date_to_long_string: "ordinal" }}</tag>
</main>
<footer id="footer-placeholder">
    <span class="contact">
        <a class="link hover-underline-animation" href="https://github.com/vietbuiminh"
            target="_blank">github:vietbuiminh</a>
        <div class="divider">/</div>
        <a class="link hover-underline-animation" href="mailto:buiv@ufl.edu" target="_blank">buiv@ufl.edu</a>
        <div class="divider">/</div>
        <a class="link hover-underline-animation" href="/assets/docs/cv/resume.pdf" target="_blank">Resume</a>
    </span>

    <span class="text">Made with sweat & tear by Việt</span>
</footer>
<script src="{{ " /assets/js/lazy-img-loading.js" | baseurl }}""></script>
</body>

</html>