<hr size="1px" width="100%" color="#ccc">
<tag id="modifiedDate" style="font-size: 0.7em;">last update on {{ site.time | date_to_long_string: "ordinal" }}</tag>
</main>
<footer id="footer-placeholder">
    <span class="contact">
        <a class="link hover-underline-animation" href="https://github.com/vietbuiminh" target="_blank">github</a>
        <div class="divider">/</div>
        <a class="link hover-underline-animation" href="mailto:vietbui20@augustana.edu" target="_blank">email</a>
        <div class="divider">/</div>
        <a class="link hover-underline-animation" href="https://devpost.com/vietbuiminh" target="_blank">devpost</a>
    </span>

    <span class="text">Made with 💖 by Việt</span>
</footer>

</body>

</html>