<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo title=false %}
    <title>Work Out Image Gallery</title>
    <link rel="stylesheet" href="{{ " /assets/css/main.css" | baseurl }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="{{ " /img/SVG/favicon.svg" | baseurl }}" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9TF4F3YQJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T9TF4F3YQJ');
    </script>
</head>

<body>
    <style>
        :root {
            --backgroundcolor: white;
            --textcolor: rgb(17, 29, 23);
            --linkcolor: rgb(5, 122, 87);
            --footercolor: rgb(0, 157, 219);
            --highlight: rgba(0, 255, 234, 0.521);
        }

        .workout-bg {
            background: radial-gradient(#000c 0%, #000d),
                url("/img/andreen_bg.jpg") 50% / cover #0000;
        }
    </style>
    <header class="workout-bg">
        {% include nav_workout.html %}
        <div class="signature">
            <h1>{{ page.title | upcase }}</h1>

        </div>

        <div class="selfscript">
            <span class="brief">Viet can remember much of his workout routine. He indeed keeps track of the work out plans on his Notion but he need to check if his form is correct. He use this page to double check that 😂.</span>
        </div>
    </header>
    <main>