<nav id="nav-placeholder">
    <span class="homelink">
        <img src="/img/ms-ninja-cat-emoji.png" alt="ninja cat emoji" width="24px" height="24px">
        <!--id="active"-->
        <a href="/">vietbui</a>
    </span>
    <span class="navlinks">
        <a class="coding-active hover-underline-animation" href="/coding">coding</a>
        <div class="divider">/</div>
        <a class="art-active hover-underline-animation" href="/art">art</a>
        <!--
        <div class="divider">/</div>
        <a class="hover-underline-animation" href="">writing</a>
        <div class="divider">/</div>
        <a class="hover-underline-animation" href="">about</a>
        -->
    </span>
</nav>