{% include header_ca.html %}
<tag style="font-size: 0.9em"><i>{{ page.date | date: "%Y-%m-%d" }}</i></tag>
{{ content }}

<tag id="modifiedDate" style="font-size: 0.7em;">last update on {{ site.time | date_to_long_string: "ordinal" }}</tag>
</main>
<footer id="footer-placeholder">
    <span class="contact">
        <a class="link hover-underline-animation" href="tel:+13097165728" target="_blank">Andreen Duty #</a>
        <div class="divider">/</div>
        <a class="link hover-underline-animation" href="tel:+12097947711" target="_blank">Public Safety & Police</a>
    </span>

    <span class="text">Made with 💖 by your CA</span>
</footer>
<script src="{{ " /assets/js/lazy-img-loading.js" | baseurl }}""></script>
</body>

</html>