{% include header_ca.html %}
<tag style="font-size: 0.9em"><i>{{ page.date | date: "%Y-%m-%d" }}</i></tag>
{{ content }}

<tag id="modifiedDate" style="font-size: 0.7em;">last update on {{ site.time | date_to_long_string: "ordinal" }}</tag>
</main>
<footer id="footer-placeholder">
    <span class="contact">
        <a class="link hover-underline-animation" href="tel:+13097165728" target="_blank" id="text-display1"
            onmouseover="changeText('(309)716-5728', 1)" onmouseout="defaultText()">Andreen Duty #</a>
        <div class="divider">/</div>
        <a class="link hover-underline-animation" href="tel:+13097947711" target="_blank" id="text-display2"
            onmouseover="changeText('(309)794-7711', 2)" onmouseout="defaultText()">Public Safety & Police</a>
    </span>
    <script type="text/javascript">
        let temp = '';
        let unitype;
        function changeText(text, type) {
            if (type == 1) {
                var display = document.getElementById('text-display1');
            } else if (type == 2) {
                var display = document.getElementById('text-display2');
            }
            unitype = type
            temp = display.innerHTML;
            display.innerHTML = "";
            display.innerHTML = text;
            display.style = "font-weight: bold";
        }

        function defaultText() {
            if (unitype == 1) {
                var display = document.getElementById('text-display1');
            } else if (unitype == 2) {
                var display = document.getElementById('text-display2');
            }
            display.innerHTML = "";
            display.innerHTML = temp;
            display.style = "font-weight: regular";
        }

    </script>

    <span class="text">Made with ♥ by your CA</span>
</footer>
<script src="{{ " /assets/js/lazy-img-loading.js" | baseurl }}""></script>
</body>

</html>