{% include header.html %}
        <div class="signature">
            <h1 style="text-transform: uppercase;">{{ page.title }}</h1>
        </div>
        <div class="selfscript">
            <span class="brief">code + art = 🐱‍👤</span>
        </div>
    </header>
    <main>
        <tag><i>{{ page.title }}</i></tag>
        {{ content }}
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
<script
    type='text/javascript'>kofiwidget2.init('Like my works?', '#ba0000', 'M4M85C3GV'); kofiwidget2.draw();</script>
{% include footer.html %}